.hide{display:none;}
.default-btn{width:90px; font-size:14px;border-radius:5px; padding:8px; color:white; border:none;}
.default-ss-btn{width:50px;font-size:12px; border-radius:5px; padding:3px; color:white; border:none;}
.default-s-btn{width:50px; font-size:12px; border-radius:5px; padding:8px; color:white; border:none;}
.default-m-btn{width:80px; font-size:13px; border-radius:5px; padding:8px; color:white; border:none;}
.default-s-item{width:50px;font-size:12px; border-radius:5px; border:1px solid #d1d1d1; padding:8px;}
.default-ms-item{width:70px;font-size:12px; border-radius:5px; border:1px solid #d1d1d1; padding:7px;}
.default-m-item{width:80px;font-size:13px; border-radius:5px; border:1px solid #d1d1d1; padding:8px;}
.bg-0{background:#666666;}
.bg-1{background:#333;}
.bg-2{background:#949595;}
.bg-3{background:#004BA6;}
.bg-4{background:#003473;}
.bg-5{background:#FF0000}

/** 로그인 **/
.lg_container {display: flex;justify-content: center;align-items: center;height: 100vh;}
.lg_m_wrap {width:100%; }
.lg_m_wrap img {height:80px;}
.lg_f_wrap{width:900px;margin:0 auto;margin-bottom:10px; justify-content: center;align-items: center;}
.lg_f_wrap .lg_logo_wrap {display:flex; gap:10px; justify-content: flex-start;align-items: center;}
.lg_f_wrap .lg_logo_title{font-size:35px;font-weight:580;}
.lg_s_wrap {height:400px;display: flex; background-color: #f5f6f7;align-items: flex-start;flex-wrap: wrap;padding: 15px;}
.lg_s_inner {display: flex;justify-content: center;align-items: flex-start;gap: 40px;margin: 0 auto;}
.lg_s {width:430px;margin-top:20px;}
.lg_s .lg_s_title{font-size:20px;font-weight:550;}
.lg_s .lg_use_btn{width:100%;height:55px; font-size:17px;font-weight:bold; margin-top:10px;border-radius:5px;color:white;background:#003473;cursor:pointer;border:none;}
.lg_iframe_wrap { border-radius:5px;position: relative; padding-bottom: 81.1%; height: 0; overflow: hidden;}
.lg_iframe_wrap img {width:560px;height:360px;}
.lg_iframe_wrap iframe {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
.lg_privacy{width:100%;background-color: #ebebeb;display: flex;justify-content: center;padding:5px;}
.lg_privacy ul {display: flex;justify-content: center;}
.lg_privacy li {white-space: nowrap;padding:15px;}

.lg_frm {width:100%;margin-top:15px;display: flex;align-items: stretch;}
.lg_frm_input{margin-right:10px;}
.lg_frm_input div:first-of-type input {margin-bottom: 10px;}
.lg_frm_input input{border:1px solid rgb(211, 210, 210); padding:10px; width:300px;height:40px;border-radius: 5px !important;}
.lg_frm .lg_btn {width: 100%; font-size:15px;font-weight: bold;background:#004BA6;color:white;border-radius:5px;cursor:pointer;border:none;}
.lg_s_support {display: flex; margin-top:20px; gap:10px; align-items: center; }
.lg_s_support a {font-size: 14px;font-weight: 550;width: 100%;height: 45px;display: flex;justify-content: center;align-items: center;border-radius: 5px;text-align: center;}
.lg_s_comment{font-size:14px; color:black;line-height: 25px; border:2px solid black; padding:10px;margin-top:10px; border-radius: 5px; background: #f4f9f9}
.lg_s_comment .lg_s_comment_title{font-size:15px; font-weight:600;}
.lg_privacy li:nth-child(2){font-weight: bold;}

/** 에러 **/
.error-wrap {width:100%; height:100vh; background:#f8f9fa;display:flex;justify-content: center;align-items: center; }
.error-wrap .error-message-box{padding:30px; background:#fff;border-radius:5px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);}
.error-wrap .error-message-box h1{text-align:center;font-size:24px;color:#0066cc; font-weight:700;}
.error-wrap .error-message-box p {margin-top:15px; color:#494949; font-size:15px;line-height:30px;}
.error-wrap .error-message-box .error-btn-wrap {margin-top:30px; display:flex; gap:10px;justify-content: center;align-items: center;}
.error-wrap .error-message-box .error-btn-wrap a {padding:10px 20px; color:#fff; border-radius:5px; font-size:15px;}
.error-wrap .error-message-box .error-btn-wrap a:nth-child(1) {background:#0060ae;}
.error-wrap .error-message-box .error-btn-wrap a:nth-child(2) {background:gray;}

/** TOP HEADER **/
.header {position: fixed; width:100%; height:115px; background:#fff; z-index:100;}
.header .header-top{width:100%;height:35px;display:flex; background:#eee;gap:5px;justify-content: end;align-items: center; padding:4px 15px 4px 0px;}
.header .header-top strong{color:#006EF3}
.header .header-top .select-org-contents select{margin-left:5px;width:130px;padding:3px;border-radius: 5px; border:1px solid #d1d1d1;}
.header .header-top a{width:120px; height:25px; background:#666666; display:flex;justify-content: center;align-items: center; border-radius:5px; color:white;}
.header .header-top .session-timer-contents{margin-left:15px;margin-right:15px; display: flex;align-items: center;justify-content: center;gap: 6px;}
.header .header-top .session-timer-contents .session-timer{font-weight:550;}
.header .header-top .session-timer-contents button{border:5px;color:white;background:red;padding:3px;border-radius:5px;width: 40px;}

/** TOP NAV **/
.header .top-mnu-wrap {height:80px;display: flex;align-items: center;justify-content: start;min-width: 1200px;padding: 10px;border-bottom: 5px solid #004BA6;background: #fff; position: relative;}
.header .top-mnu-wrap .top-mnu-logo {display: flex;align-items: center;gap: 10px;}
.header .top-mnu-wrap .top-mnu-logo img{height: 55px;}
.header .top-mnu-wrap .top-mnu-title {margin-left:10px;font-size: 20px;font-weight: 500;color: #000;line-height: 30px;}
.header .top-mnu-wrap .nav > ul {display: flex;margin-left:50px;}
.header .top-mnu-wrap .nav > ul > li {position: static;font-size:19px;font-weight:500;}
.header .top-mnu-wrap .nav > ul > li > a {display: block;padding: 13px;margin-top:2px;color: #000;background: #fff;white-space: nowrap;border-bottom: 4px solid transparent;box-sizing: border-box;}
.header .top-mnu-wrap .nav > ul > li > a.on{color:#004BA6; border-bottom: 4px solid #004BA6;}
.header .top-mnu-wrap .nav > ul > li > a:hover {color:#004BA6; border-bottom: 4px solid #004BA6;}

.header .top-mnu-wrap .nav .depth2{display:none; width:100%; min-width:1800px;position:absolute;left:0;top:80px;background:#ffffff;border-bottom:2px solid #004BA6; padding-bottom: 100px;}
.header .top-mnu-wrap .nav .depth2-layout .menu-list > ul > li > a{display:block;font-weight:600;color:#fff;background:#004BA6;font-size:18px;letter-spacing:-1px;width:100%;height:40px;line-height:40px;box-sizing:border-box;padding:0;padding-left:15px;}
.header .top-mnu-wrap .nav .depth2-layout .menu-list > ul > li > ul{margin-top:12px;}
.header .top-mnu-wrap .nav .depth2-layout .menu-list > ul > li > ul > li{display:block;text-align:left;line-height:26px;}
.header .top-mnu-wrap .nav .depth2-layout .menu-list > ul > li > ul > li > a{text-align:left;font-size:14px;font-weight:normal;padding-left:12px;color:#666;width:100%;padding:0;}
.header .top-mnu-wrap .nav .depth2-layout .menu-list > ul > li > ul > li > a:hover{color:#004BA6;text-decoration:underline;font-weight:bold;}
.header .top-mnu-wrap .nav .depth2-layout .menu-list > ul > li > ul > li > a:after{content:"";}

.header .top-mnu-wrap .nav .depth2-layout .menu-list{padding-left: 240px; position:relative;margin:0 auto;width:100%;padding-bottom:20px;overflow:hidden;}
.header .top-mnu-wrap .nav .depth2-layout .menu-list ul{overflow:hidden;}
.header .top-mnu-wrap .nav .depth2-layout .menu-list > ul > li{min-width:196px;margin:0 auto;margin-left:10px;margin-top:10px;float:left;}
.header .top-mnu-wrap .nav .depth2-layout .menu-list > ul > li a{text-align:left;}
.header .top-mnu-wrap .nav .depth2-layout .menu-list > ul > li a:after{content:"";}

/** LEFT NAV **/
.left-nav-layout {position: fixed;z-index: 1;width: 230px;height: 100%;border-right: 1px solid #d1d1d1;padding-top: 140px;background: #fff;}
.left-nav-layout .left-nav-title{font-size:25px;font-weight:550; text-align:center;}
.left-nav-layout .left-nav-menu {margin-top:30px; border-top:1px solid #d1d1d1;}
.left-nav-layout .left-nav-menu .left-nav-li {font-size: 16px;border-bottom: 1px solid #d1d1d1;cursor: pointer;font-weight:550;}
.left-nav-layout .left-nav-menu .left-nav-li.on {background:#004BA6; color:white !important;}
.left-nav-layout .left-nav-menu .left-nav-li > a {position:relative; display: block;padding: 15px;}
.left-nav-layout .left-nav-menu .left-nav-li.on > a {color: white !important;}
.left-nav-layout .left-nav-menu .left-nav-li .depth3-icon{position:absolute; right:0; margin-right:15px;}
.left-nav-layout .left-nav-menu .left-nav-li .left-nav-sub {height: 0;overflow: hidden;visibility: hidden;transition: height 0.3s ease, visibility 0.3s ease;}
.left-nav-layout .left-nav-menu .left-nav-li .left-nav-sub.open {visibility: visible;}
.left-nav-layout .left-nav-menu .left-nav-li .left-nav-sub li {font-size:14px;border-top: 1px solid #d1d1d1;padding: 12px 0px 12px 25px;background:#f3f3f3;}
.left-nav-layout .left-nav-menu .left-nav-li .left-nav-sub a.selected {color: #004BA6; font-weight: bold;}

/** PAGENATION **/
.page-result{display:flex; gap:8px; align-items: center;}
.pagination{margin-top:30px; display:flex; gap:5px; justify-content:center; align-items:center; cursor:pointer;}
.pagination button {width:30px; height:30px;display:flex; padding:5px; color:#494949; border-radius:5px; border:1px solid #d1d1d1;justify-content:center; align-items:center;}
.pagination button:disabled {opacity: 0.5;cursor: not-allowed;}
.pagination .current {width:30px; height:30px;display:flex; border-radius:5px; padding:5px; font-weight: bold;background:#004BA6;color: #fff;justify-content:center; align-items:center;}

/** CONTENTS **/
.container {width: calc(100% - 230px);margin-left: 230px;padding: 135px 20px 0px 20px;}
.container .contents-header{display:flex; gap:5px; align-items:center; justify-content: space-between;border-bottom:1px solid #d1d1d1;padding-bottom:5px;}
.container .contents-header .breadcrumb {font-size:20px;}
.container .contents-header .default-button-layout{display:flex; gap:5px;}
.container .contents-search{width:100%; padding:10px; margin-top:10px; border:1px solid #d1d1d1; border-radius:5px; background:#f3f3f3;}
.container .contents-search .search-item{font-size:15px; display:flex; align-items:center; gap:10px; color:#494949;}
.container .contents-search form {display: flex;gap: 20px;align-items: center;}
.container .contents-search .search-item .input-wrapper {min-width:210px; position: relative;display: inline-block;}
.container .contents-search .search-item input { padding-right: 10px; font-size:15px; border-radius:5px; border:1px solid #d1d1d1; padding:8px;}
.container .contents-search .search-item i {height:100%;position: absolute;right: 0px;top: 50%transform: translateY(-50%);background: #fff;border: 1px solid #d1d1d1;border-radius: 5px;padding: 5px 10px 5px 10px;font-size: 14px;color: #555;cursor: pointer;}
.container .contents-sub {display:flex; margin-top:30px;justify-content: space-between;align-items: center;}
.container .contents-sub .action-btn-layout{display:flex; gap:5px; align-items: center;}
.container .contents-main {width: 100%; margin-top: 10px; display: flex;align-items: center; overflow-x: auto;}
/** CONTENTS DATATABLE **/
.container .contents-main .data-table {width:100%;min-width:1000px;border-top:2px solid #999;border-collapse: collapse;}
.container .contents-main .data-table th{font-size:15px; padding:10px; border: 1px solid #ddd;background:#f3f3f3;cursor:pointer;}
.container .contents-main .data-table th.sorting_asc::after {content: "▲";margin-left: 5px;font-size:10px;color: #c1c1c1;}
.container .contents-main .data-table th.sorting_desc::after {content: "▼";margin-left: 5px;font-size:10px;color: #c1c1c1;}
.container .contents-main .data-table .table-check{width:40px;}
.container .contents-main .data-table .table-no{width:80px;}
.container .contents-main .data-table .table-btn{width:150px;}
.container .contents-main .data-table tr{cursor:pointer;}
.container .contents-main .data-table tr.selected{background: #cfcfcf;}
.container .contents-main .data-table tr .resizer { position: absolute;right: 0;top: 0;width: 5px;height: 100%;cursor: col-resize;user-select: none;}
.container .contents-main .data-table tr .row-select, .container .contents-main .data-table tr .new-row-select{width:18px;height:18px;margin: auto;display: block;}
.container .contents-main .data-table tr th { position: relative;user-select: none;}
.container .contents-main .data-table tr td {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;text-align:center; padding:10px;border: 1px solid #ddd;}
.container .contents-main .data-table .edit-input{width:100%; font-size:15px; border-radius:5px; padding:10px; border:1px solid #d1d1d1;}
.container .contents-main .data-table .btn-edit > button + button {margin-left: 8px;}




    #calendar {

      font-size: 16px;
    }

    .fc-day-sun a{
      color: red;
    }

    .fc-day-sat a{
      color: blue;
    }
.bottom-wrap {
margin-top:30px;
  display: flex;
  gap:10px;
  justify-content: space-between; /* 양 끝에 배치 */
  align-items: center; /* 세로 가운데 정렬 (필요시) */
}
.notice{background:gray; width:100%; height:20px; padding:15px;}
.count{background:blue; width:100%;height:20px; padding:15px;}